*{
    padding: 0%;
    margin: 0%;
    color: rgba(0, 0, 0, 0.7);
}

body{
    background: rgb(228, 225, 225);;
}
.container-login{
    justify-content: center;
    display: flex;
    align-content: center;
    padding: 5rem;
    padding-bottom: auto;
    background-color: rgb(228, 225, 225);
    width: 100%;
    height: 100%;
}
article{
    background-color: #fff; 
    padding: 5%;
    
}

.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.margin-bottom-10{
    margin-bottom: 10%;
}

.error-message{
    color: rgb(243, 78, 78);
    display: none;
}
.forgot-container{
    display: block;
    text-align: right;
}
.forgot-text{
    padding: 2px;
    cursor: pointer;
}
.forgot-text:hover{
    color: #FCD143;
}
.btn-dark:hover{
    background-color: #FCD143;
    border-color: #FCD143;
    color: #000;
}

.btn-dark:focus{
    color:#000;
    background-color:#ffca2c;
    border-color:#ffc720;
    box-shadow:0 0 0 .25rem rgba(217,164,6,.5)
}
.form-control:focus{
    color:#212529;
    background-color:#fff;
    border-color:#FCD143;
    outline:0;
    box-shadow:0 0 0 .25rem rgba(252, 209, 67, 0.25);
}